@model ICollection<Lab_5_2.Models.Contact>

<div class="container-fluid m-3">
    <h2>Lista kontaktów</h2>
    <table class="table">
        @foreach (var contact in @Model)
        {
            <tr>
                <td>
                    @contact.Name
                </td>
                <td>
                    @contact.BirthDate.Year - @contact.BirthDate.Month - @contact.BirthDate.Day
                </td>
                <td>
                    @contact.Email
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Contact" asp-action="EditForm" asp-route-id="@contact.Id">Edytuj</a>
                    <a class="btn btn-primary" asp-controller="Contact" asp-action="Delete" asp-route-id="@contact.Id">Usuń</a>
                </td>
            </tr>
        }
    </table>
</div>
